* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

/* .square {
  background-color: rgb(234, 80, 80);
} */

.container {
  display: flex;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  box-shadow: 1px 1px 4px rgb(144, 144, 144);
  margin: auto;
  background-color: white;
}

button {
  background-color: rgb(167, 255, 167);
  border: none;
  box-shadow: 1px 1px 2px 2px rgb(159, 159, 159);
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

button:active {
  box-shadow: 1px 1px 1px 1px rgb(159, 159, 159);
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}
.red {
  background-color: rgb(255, 116, 116);
}
.blue {
  background-color: rgb(87, 107, 255);
}

.size {
  display: flex;
  gap: 10px;
  font-size: 15px;
  padding: 8px 16px;
}
h1 {
  margin-bottom: 60px;
  margin-top: 30px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
